 /*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
  }


input,select{
    
    box-sizing: border-box;
    vertical-align: baseline;
    line-height: 1.29;
    font-size: 12px;
    font-weight: medium;
    letter-spacing: 0.05rem;
    font-family: 'Poppins-Regular';
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  

}

input,select:focus{
    outline-offset: -2px;
}

label{
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 3px; 
    font-family: 'Poppins-Regular';
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-size: 14px;
}

.main_heading{
    text-align: center;
    color: #32AB93;
    font-size: 35px;
    font-family: 'Poppins-Regular';
    padding: 20px;
    font-weight: 700;
  }


  .submit-medicine {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form-row{
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 0px;
}

@media (max-width: 992px) {
    label{
        font-size: 12px;
    }
}